<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 logo">
        <a href="https://www.sevenslegal.com">
          <img src="images/1logo.png" alt="Criminal Defense Attorney San Diego" data-lazy-src="" data-ll-status="loaded" class="entered lazyloaded">
        </a>
      </div>
      <div class="col-sm-7">
        <div class="top-content">       
          <p>Text Us Now For A <a href="#contact"><span>Free Consultation</span></a></p>
          <h2 data-ctm-watch-id="3" data-ctm-tracked="1">(619) 430-2355</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-menu">
  <nav class="navbar navbar-inverse">
  <div class="container navbar-header">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Attorney 1</a></li>
      <li><a href="#">Criminal Law</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  </nav>
</div>